@import '@/styles/mixins';

.root {
  padding-top: 20px;
  padding-bottom: 120px;
  @include breakpoint(desktop) {
    padding-top: 28px;
  }
}

.container {
  max-width: 912px;
}

.breadcrumbs {
  margin-bottom: 16px;
  @include breakpoint(desktop) {
    margin-bottom: 30px;
  }
}

.content {
  margin-top: 16px;
  @include breakpoint(desktop) {
    margin-top: 20px;
  }
}
