@import '@/styles/mixins';

.root {
  @include adaptive-value(padding-bottom, 200, 115);
  @include adaptive-value(padding-top, 100, 40);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 480px;
}


.title {
  align-self: center;
  margin-top: 16px;
  margin-bottom: 32px;

  @include breakpoint(desktop) {
    margin-top: 20px;
    margin-bottom: 16px;
  }
}
