@import "@/styles/mixins";

.root {
  border-bottom: 1px solid var(--grey-light);
  padding: 23px 0 21px;

  &:first-child {
    @include breakpoint(desktop) {
      border-top: 1px solid var(--grey-light);
    }
  }

  .header {
    cursor: pointer;
  }

  .question {
    font-weight: 500;
  }

  .answer {
    font-size: 13px;
    padding-top: 12px;

    @include breakpoint(tablet) {
      padding-top: 16px;
    }
  }

  .icon {
    flex-shrink: 0;
    flex-grow: 0;
  }
}