@import "@/styles/mixins";

.root {
  padding: 60px 0;

  @include breakpoint(desktop) {
    padding: 120px 0;
  }

  .title {
    @include breakpoint(mobile-tablet) {
      font-size: 20px;
      line-height: 1.4;
      font-weight: 500;
    }

    padding: 0 0 24px;
    text-align: center;

    @include breakpoint(desktop) {
      padding-bottom: 32px;
    }
  }

  .inner {
    display: flex;
    flex-direction: column-reverse;

    @include breakpoint(desktop) {
      flex-direction: row;
      flex-wrap: nowrap;
      margin-left: 60px;
      margin-right: 60px;
    }
  }

  .item {
    &.first {
      @include breakpoint(desktop) {
        width: 38%;
        max-width: 480px;
      }
    }

    &.second {
      @include breakpoint(desktop) {
        width: 62%;
        padding-left: 84px;
        flex-grow: 1;
      }
    }
  }

  .image {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }

  .list {
    display: flex;
    flex-direction: column;

    @include breakpoint(desktop) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 90px;
      row-gap: 32px;
    }
  }

  .list_item {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 32px;

    @include breakpoint(mobile-tablet) {
      &.first {
        order: 1;
      }

      &.second {
        order: 4;
      }

      &.third {
        order: 2;
      }

      &.fourth {
        order: 5;
      }

      &.fifth {
        order: 3;
      }

      &.sixth {
        order: 6;
      }
    }

    @include breakpoint(desktop) {
      align-items: flex-start;
      margin-bottom: 0;


      width: calc(50% - 45px);
    }


  }

  .icon_wrap {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--grey-light-2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 0 8px;

    @include breakpoint(desktop) {
      margin-bottom: 12px;
    }
  }

  .item_title {
    text-align: center;

    @include breakpoint(desktop) {
      text-align: left;
    }
  }
}