NEXT_PUBLIC_SENTRY_DSN=tobemodified
NEXT_PUBLIC_API_URL=tobemodified
NEXT_PUBLIC_API_URL_BASE=tobemodified
NEXT_PUBLIC_GOOGLE_MAP_API_KEY=tobemodified

NEXT_PUBLIC_GOOGLE_AUTH_CLIENT_ID=tobemodified
NEXT_PUBLIC_GOOGLE_AUTH_REDIRECT_URI=tobemodified
