@import '@/styles/mixins';

.link {
  span {
    padding-bottom: 4px;
    border-bottom: 1px solid var(--black);
  }
  &:hover span {
    color: var(--grey);
    border-color: var(--grey);
  }
}


.mobile {
  @include breakpoint(desktop) {
    display: none;
  }
}

.desktop {
  display: none;
  @include breakpoint(desktop) {
    display: flex;
  }
}
