@import '@/styles/mixins/index';

.root {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include breakpoint(desktop) {
    flex-direction: row;
    gap: 0;
  }
}

.hero {
  flex-grow: 1;
}