.root {
  width: 100%;
  height: 100%;
}

.slide {
  height: auto;

  img {
    object-fit: cover;
    object-position: top;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}

.slider {
  height: 100%;
}
