@import '@/styles/mixins';

.root {
  padding-bottom: 120px;
  overflow-x: hidden;
  padding-top: 20px;
  @include breakpoint(tablet) {
    padding-bottom: 100px;
    padding-top: 28px;
  }
}

.pagination {
  margin-top: 32px;
  @include breakpoint(tablet) {
    margin-top: 60px;
  }
}

.grid {
  margin-top: 16px;
}

.breadcrumps {
  margin: 0 auto;
  width: fit-content;
}

.w {
  width: 600px;

}

.body {
  height: 800px;
  background-color: var(--white);
}

.actionsWrapper {
  min-height: 56px;

  &.fixed {
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    z-index: 2;
    padding: 0 8px 8px 8px;
    background-color: var(--white);
    border-top: 1px solid var(--grey-light);

    @include breakpoint(tablet) {
      padding: 8px;
    }

    div {
      button + div + div {
        display: none;
      }
    }
  }
}

.latestNews {
  margin-top: 20px;

  &Wrapper {
    display: grid !important;
    grid-template-columns: 1fr;

    @include breakpoint(tablet) {
      grid-template-columns: repeat(3, 1fr);
    }

    & > div {
      max-width: inherit;
    }
  }
}
