@import '@/styles/mixins';
.root {

}

.statusCircle {
  @include rounded-centered;
  @include square-size(8px);
}


.list {
  margin-bottom: 24px;
  margin-top: 16px;
}

.productWrap {
  position: relative;
}

.index {
  position: absolute;
  top: 45px;
  transform: translateY(-50%);
  left: -12px;
}

.btn {
  min-width: 200px;
}
