@import '@/styles/mixins';
.root {}


.wrapper {
  padding: 52px 40px;

  @include breakpoint(only-mobile) {
    padding: 52px 10px;
  }
}

.measurements {
  margin-top: 40px;
  @include breakpoint(desktop) {
    margin-top: 60px;
  }
}

.infoBtn {
  display: flex;
  align-items: center;
  gap: 6px;
}
