@import '@/styles/mixins';
.root {}

.size {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include breakpoint(tablet) {
    gap: 8px;
    align-items: flex-start;
  }

  .content{
    display: flex;
    gap:12px;
    width: 100%;
  }
}
