@import '@/styles/mixins';
.root {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 28px;

  &.default {
    border-radius: 4px;
    padding: 2px 8px 2px 4px;
  }

  &.icon {
    border-radius: 50%;
    justify-content: center;
    //@include square-size(28px);
  }
}
