@import '@/styles/mixins';
.root {}

.circle {
  @include square-size(8px);
  @include rounded-centered;
  display: flex;
  align-items: center;
  background-color: var(--red);
}

.title {
  font-weight: 500;
}
