.root {
  position: relative;
  height: 100%;

}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12px;
}
