@import '@/styles/mixins';
.root {
}
.link {
  span {
    font-weight: 500;
  }
}
.linkWrap {
  flex-grow: 1;

}

.image {
  border-radius: 3px;
  overflow: hidden;
  width: 75px;
  height: 90px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
