@import '@/styles/mixins';

.root {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;

  row-gap: 48px;

  @include breakpoint(tablet) {
    row-gap: 60px;
  }
}

.promotion {
  width: 100%;
  max-width: 100%;
  padding: 0 12px;

  @include breakpoint(tablet) {
    max-width: calc(100% / 2);
  }
}
