.root {}


.image {
  width: 75px;
  height: 90px;
  border-radius: 3px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

.date {
  flex-grow: 1;
}


.comment {
  word-break: break-word;
  margin-top: 12px;
}
