@import '@/styles/mixins';

.root {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include breakpoint(tablet) {
    flex-direction: row;
  }
  @include breakpoint(desktop) {
    gap: 60px;
  }
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.right {
  flex: 1;
  height: fit-content;
  position: sticky;
  top: calc(var(--header-height) + 16px);
}

.loader {
  align-self: center;
}
